@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --size-50: 2px;
    --size-100: 4px;
    --size-150: 6px;
    --size-200: 8px;
    --size-250: 12px;
    --size-300: 16px;
    --size-400: 24px;
    --size-500: 32px;
    --size-600: 40px;
    --size-700: 48px;
    --size-800: 64px;
    --size-900: 72px;
    --size-1000: 80px;
    --size-1100: 96px;
    --size-1200: 128px;
  }

  *::-webkit-scrollbar {
    @apply mc-h-[8px] mc-w-[8px];
  }

  *::-webkit-scrollbar-track {
    @apply mc-bg-white-200;
  }

  *::-webkit-scrollbar-thumb {
    @apply mc-rounded-full mc-bg-white-300;
  }
}

@layer components {
  /* #region - Sidenav */
  #quick-action-menu-wrapper {
    @apply mc-max-h-[500px] mc-w-[400px];
  }

  #sidenav-menu-wrapper {
    @apply mc-max-h-[500px] mc-w-[215px];
  }

  #sidenav-submenu-l1-wrapper {
    @apply mc-max-h-[500px] mc-w-[215px];
  }

  #sidenav-submenu-l2-wrapper {
    @apply mc-hidden;
  }

  #user-menu-wrapper {
    @apply !mc-top-[-20px] mc-max-h-[500px] mc-w-[300px];
  }

  #quick-action-menu-wrapper,
  #sidenav-menu-wrapper,
  #sidenav-submenu-l1-wrapper,
  #user-menu-wrapper,
  #mobile-user-menu-wrapper {
    @apply mc-background-color mc-border-color-base mc-overflow-y-auto mc-overflow-x-hidden mc-rounded-xl mc-border mc-border-solid mc-drop-shadow-md;

    .v-popper__wrapper {
      .v-popper__inner {
        @apply mc-overflow-hidden mc-rounded-none mc-border-none mc-bg-transparent mc-shadow-none;

        .slide-fade-enter-active {
          @apply mc-duration-300 mc-ease-out;
        }

        .slide-fade-leave-active {
          transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
        }

        .slide-fade-enter-from,
        .slide-fade-leave-to {
          @apply mc-translate-x-[-20px] mc-opacity-0;
        }
      }

      .v-popper__arrow-container {
        @apply mc-hidden;
      }
    }
  }
  /* #endregion - Sidenav */

  /* #region - Tooltips */
  #tooltip-wrapper,
  #tooltip-full-width-wrapper {
    .v-popper__wrapper {
      .v-popper__inner {
        @apply mc-background-color-inverted mc-text-color-inverted-strong mc-body-xs-regular mc-break-words mc-rounded-border-radius-md mc-px-2 mc-py-1.5 mc-font-main mc-opacity-100 mc-shadow-drop;
      }

      .v-popper__arrow-outer {
        @apply mc-hidden;
      }
    }
  }

  #tooltip-wrapper {
    .v-popper__wrapper {
      .v-popper__inner {
        @apply mc-max-w-full mc-shadow-drop;
      }
    }
  }

  #tooltip-full-width-wrapper {
    .v-popper__wrapper {
      .v-popper__inner {
        @apply mc-max-w-[280px] mc-shadow-drop;
      }
    }
  }
  /* #endregion - Tooltips */

  /* #region - Dropdown */
  #dropdown-wrapper {
    @apply mc-border-color-weak mc-z-[1000] mc-w-[inherit] mc-overflow-hidden mc-rounded-xl mc-border mc-border-solid mc-shadow-drop;

    .v-popper__wrapper {
      .v-popper__inner {
        @apply mc-w-full mc-rounded-none mc-border-none mc-font-main mc-shadow-none;

        &::-webkit-scrollbar-track {
          @apply mc-rounded-br-xl mc-rounded-tr-xl;
        }
      }

      .v-popper__arrow-container {
        @apply mc-hidden;
      }
    }
  }
  /* #endregion - Dropdown */

  /* #region - Select */
  #select-wrapper,
  #multi-select-wrapper,
  #ladderized-select-wrapper {
    @apply mc-border-color-weak mc-z-[1000] mc-w-[inherit] mc-overflow-hidden mc-rounded-xl mc-border mc-border-solid mc-shadow-drop;

    .v-popper__wrapper {
      .v-popper__inner {
        @apply mc-w-full mc-rounded-none mc-border-none mc-font-main mc-shadow-none;

        &::-webkit-scrollbar-track {
          @apply mc-rounded-br-xl mc-rounded-tr-xl;
        }
      }

      .v-popper__arrow-container {
        @apply mc-hidden;
      }
    }
  }
  /* #endregion - Select */

  /* #region - Avatar */
  .avatar__slot img {
    @apply mc-h-full mc-w-full mc-object-cover;
  }
  /* #endregion - Avatar */

  /* #region - Table */
  .mc-table-wrapper {
    tbody {
      @apply mc-block mc-w-full mc-overflow-y-auto;
    }

    tr {
      @apply mc-table mc-w-full mc-table-fixed;
    }

    thead {
      @apply mc-pr-size-spacing-6xs;
    }

    tbody::-webkit-scrollbar {
      @apply mc-h-0 mc-w-0; /* Hides the scrollbar in WebKit browsers */
    }

    .empty-table-dropzone-dragged-class {
      @apply mc-hidden;
    }
  }
  /* #endregion - Table */

  /* #region - Date Picker */
  #date-picker-wrapper {
    @apply mc-z-[1000] mc-overflow-hidden mc-rounded-xl mc-shadow-drop mc-transition-opacity mc-duration-150 mc-ease-in-out;

    .v-popper__wrapper {
      .v-popper__inner {
        @apply mc-border-color-weak mc-m-auto mc-w-[336px] mc-min-w-[336px] mc-overflow-y-auto mc-rounded-xl mc-border mc-border-solid mc-font-main mc-shadow-none sm:mc-w-[calc(100%-20px)] sm:mc-min-w-full;

        &::-webkit-scrollbar-track {
          @apply mc-rounded-br-xl mc-rounded-tr-xl;
        }
      }

      .v-popper__arrow-container {
        @apply mc-hidden;
      }
    }
  }
  /* #endregion - Date Picker */

  /* #region - Date Range Picker */
  #date-range-picker-wrapper {
    @apply mc-z-[1000] mc-overflow-hidden mc-rounded-xl mc-shadow-drop mc-transition-opacity mc-duration-150 mc-ease-in-out;

    .v-popper__wrapper {
      .v-popper__inner {
        @apply mc-border-color-weak mc-m-auto mc-w-[336px] mc-min-w-[336px] mc-overflow-y-auto mc-rounded-xl mc-border mc-border-solid mc-font-main mc-shadow-none sm:mc-w-[calc(100%-20px)] sm:mc-min-w-full;

        &::-webkit-scrollbar-track {
          @apply mc-rounded-br-xl mc-rounded-tr-xl;
        }
      }

      .v-popper__arrow-container {
        @apply mc-hidden;
      }
    }
  }
  /* #endregion - Date Range Picker */

  /* #region - Filter, time-picker */
  #time-picker-wrapper-full-width,
  #time-picker-wrapper,
  #filter-option-wrapper,
  #filter-menu-wrapper {
    @apply mc-background-color mc-border-color-weak mc-z-50 mc-overflow-x-hidden mc-rounded-[12px] mc-border mc-border-solid;

    .v-popper__wrapper {
      .v-popper__inner {
        @apply mc-overflow-hidden mc-rounded-none mc-border-none mc-bg-transparent mc-shadow-none;

        .resize-observer {
          display: none;
        }
      }

      .v-popper__arrow-container {
        @apply mc-hidden;
      }
    }
  }

  #time-picker-wrapper {
    @apply mc-max-w-[240px];
  }

  #time-picker-wrapper-full-width,
  #filter-option-wrapper {
    @apply mc-w-full;
  }

  #filter-menu-wrapper {
    @apply mc-min-w-[328px] mc-drop-shadow-md;
  }
  /* #endregion - Filter, time-picker */

  /* #region - Popper */
  #popper-wrapper {
    @apply mc-border-color-weak mc-border-color-weak mc-z-[1000] mc-w-[inherit] mc-min-w-[240px] mc-rounded-border-radius-xl mc-border mc-border-solid mc-shadow-drop;

    .v-popper__wrapper {
      .v-popper__inner {
        @apply mc-w-full mc-rounded-border-radius-xl mc-border-none mc-font-main mc-shadow-none;

        &::-webkit-scrollbar-track {
          @apply mc-rounded-br-xl mc-rounded-tr-xl;
        }
      }

      .v-popper__arrow-container {
        @apply mc-hidden;
      }
    }
  }
  /* #endregion - Popper */
}

@layer utilities {
  .mc-hidden-scrolls {
    &::-webkit-scrollbar {
      @apply mc-hidden;
    }
  }

  /* #region - Headings */
  .mc-heading-xl {
    @apply mc-font-size-900 mc-line-height-1000 mc-letter-spacing-densest mc-font-main mc-font-medium;
  }

  .mc-heading-lg {
    @apply mc-font-size-800 mc-line-height-900 mc-letter-spacing-denser mc-font-main mc-font-medium;
  }

  .mc-heading-md {
    @apply mc-font-size-700 mc-line-height-800 mc-letter-spacing-denser mc-font-main mc-font-medium;
  }

  .mc-heading-sm {
    @apply mc-font-size-600 mc-line-height-700 mc-letter-spacing-dense mc-font-main mc-font-medium;
  }

  .mc-heading-xs {
    @apply mc-font-size-500 mc-line-height-600 mc-letter-spacing-dense mc-font-main mc-font-medium;
  }
  /* #endregion - Headings */

  /* #region - Subheadings */
  .mc-subheading-sm {
    @apply mc-font-size-400 mc-line-height-500 mc-letter-spacing-dense mc-font-main mc-font-medium;
  }

  .mc-subheading-xs {
    @apply mc-font-size-300 mc-line-height-400 mc-letter-spacing-normal mc-font-main mc-font-medium;
  }
  /* #endregion - Subheadings */

  /* #region - Paragraphs */
  .mc-body-lg {
    @apply mc-font-size-400 mc-line-height-600 mc-letter-spacing-normal mc-font-main;
  }

  .mc-body-lg-regular {
    @apply mc-body-lg mc-font-normal;
  }

  .mc-body-lg-regular-underline {
    @apply mc-body-lg mc-font-normal mc-decoration-solid;
  }

  .mc-body-lg-regular-medium {
    @apply mc-body-lg mc-font-medium;
  }

  .mc-body-lg-medium-underline {
    @apply mc-body-lg mc-font-medium mc-decoration-solid;
  }

  .mc-body-md {
    @apply mc-font-size-300 mc-line-height-500 mc-letter-spacing-normal mc-font-main;
  }

  .mc-body-md-regular {
    @apply mc-body-md mc-font-normal;
  }

  .mc-body-md-regular-underline {
    @apply mc-body-md mc-font-normal mc-decoration-solid;
  }

  .mc-body-md-regular-medium {
    @apply mc-body-md mc-font-medium;
  }

  .mc-body-md-medium-underline {
    @apply mc-body-md mc-font-medium mc-decoration-solid;
  }

  .mc-body-sm {
    @apply mc-font-size-200 mc-line-height-400 mc-letter-spacing-normal mc-font-main;
  }

  .mc-body-sm-regular {
    @apply mc-body-sm mc-font-normal;
  }

  .mc-body-sm-regular-underline {
    @apply mc-body-sm mc-font-normal mc-decoration-solid;
  }

  .mc-body-sm-regular-medium {
    @apply mc-body-sm mc-font-medium;
  }

  .mc-body-sm-medium-underline {
    @apply mc-body-sm mc-font-medium mc-decoration-solid;
  }

  .mc-body-xs {
    @apply mc-font-size-100 mc-line-height-300 mc-letter-spacing-normal mc-font-main;
  }

  .mc-body-xs-regular {
    @apply mc-body-xs mc-font-normal;
  }

  .mc-body-xs-regular-underline {
    @apply mc-body-xs mc-font-normal mc-decoration-solid;
  }

  .mc-body-xs-regular-medium {
    @apply mc-body-xs mc-font-medium;
  }

  .mc-body-xs-medium-underline {
    @apply mc-body-xs mc-font-medium mc-decoration-solid;
  }
  /* #endregion - Paragraphs */

  /* #region - Labels */
  .mc-label-xs {
    @apply mc-font-size-100 mc-line-height-100 mc-letter-spacing-wide mc-font-main;
  }

  .mc-label-xs-regular {
    @apply mc-label-xs mc-font-normal;
  }

  .mc-label-xs-medium {
    @apply mc-label-xs mc-font-medium;
  }

  .mc-label-sm {
    @apply mc-font-size-200 mc-line-height-200 mc-letter-spacing-wide mc-font-main;
  }

  .mc-label-sm-regular {
    @apply mc-label-sm mc-font-normal;
  }

  .mc-label-sm-medium {
    @apply mc-label-sm mc-font-medium;
  }

  /* #endregion - Labels */

  /* #region - Attribute Filter */
  #attribute_filter_wrapper {
    @apply mc-z-[1000] mc-w-[inherit] mc-overflow-hidden;

    .v-popper__wrapper {
      .v-popper__inner {
        @apply mc-border-color-weak mc-w-full mc-rounded-xl mc-border mc-border-solid mc-font-main mc-shadow-none;

        &::-webkit-scrollbar-track {
          @apply mc-rounded-br-xl mc-rounded-tr-xl;
        }
      }

      .v-popper__arrow-container {
        @apply mc-hidden;
      }
    }
  }
  /* #endregion - Attribute Filter */

  /* #region - Font Size */
  .mc-font-size-100 {
    @apply mc-text-100;
  }

  .mc-font-size-200 {
    @apply mc-text-200;
  }

  .mc-font-size-300 {
    @apply mc-text-300;
  }

  .mc-font-size-400 {
    @apply mc-text-400;
  }

  .mc-font-size-500 {
    @apply mc-text-500;
  }

  .mc-font-size-600 {
    @apply mc-text-600;
  }

  .mc-font-size-700 {
    @apply mc-text-700;
  }

  .mc-font-size-800 {
    @apply mc-text-800;
  }

  .mc-font-size-900 {
    @apply mc-text-900;
  }

  .mc-font-size-1000 {
    @apply mc-text-1000;
  }
  /* #endregion - Font Size */

  /* #region - Line Height */
  .mc-line-height-none {
    @apply mc-leading-none;
  }

  .mc-line-height-100 {
    @apply mc-leading-100;
  }

  .mc-line-height-200 {
    @apply mc-leading-200;
  }

  .mc-line-height-300 {
    @apply mc-leading-300;
  }

  .mc-line-height-400 {
    @apply mc-leading-400;
  }

  .mc-line-height-500 {
    @apply mc-leading-500;
  }

  .mc-line-height-600 {
    @apply mc-leading-600;
  }

  .mc-line-height-700 {
    @apply mc-leading-700;
  }

  .mc-line-height-800 {
    @apply mc-leading-800;
  }

  .mc-line-height-900 {
    @apply mc-leading-900;
  }

  .mc-line-height-1000 {
    @apply mc-leading-1000;
  }
  /* #endregion - Line Height */

  /* #region - Letter Spacing */
  .mc-letter-spacing-none {
    @apply mc-tracking-spacing-none;
  }

  .mc-letter-spacing-densest {
    @apply mc-tracking-spacing-densest;
  }

  .mc-letter-spacing-denser {
    @apply mc-tracking-spacing-denser;
  }

  .mc-letter-spacing-dense {
    @apply mc-tracking-spacing-dense;
  }

  .mc-letter-spacing-normal {
    @apply mc-tracking-spacing-normal;
  }

  .mc-letter-spacing-wide {
    @apply mc-tracking-spacing-wide;
  }

  .mc-letter-spacing-wider {
    @apply mc-tracking-spacing-wider;
  }

  .mc-letter-spacing-widest {
    @apply mc-tracking-spacing-widest;
  }
  /* #endregion - Letter Spacing */

  /* #region - Text Colors */
  .mc-text-color-strong {
    @apply mc-text-mushroom-950;
  }

  .mc-text-color-supporting {
    @apply mc-text-mushroom-500;
  }

  .mc-text-color-base {
    @apply mc-text-mushroom-600;
  }

  .mc-text-color-weak {
    @apply mc-text-mushroom-400;
  }

  .mc-text-color-disabled {
    @apply mc-text-white-400;
  }

  .mc-text-color-on-fill-disabled {
    @apply mc-text-white-500;
  }

  .mc-text-color-inverted-strong {
    @apply mc-text-white-50;
  }

  .mc-text-color-inverted-base {
    @apply mc-text-mushroom-200;
  }

  .mc-text-color-inverted-weak {
    @apply mc-text-mushroom-400;
  }

  .mc-text-color-inverted-disabled {
    @apply mc-text-white-600;
  }

  .mc-text-color-brand-base {
    @apply mc-text-kangkong-700;
  }

  .mc-text-color-brand-hover {
    @apply mc-text-kangkong-800;
  }

  .mc-text-color-brand-pressed {
    @apply mc-text-kangkong-900;
  }

  .mc-text-color-success-base {
    @apply mc-text-kangkong-700;
  }

  .mc-text-color-success-hover {
    @apply mc-text-kangkong-800;
  }

  .mc-text-color-success-pressed {
    @apply mc-text-kangkong-900;
  }

  .mc-text-color-information-base {
    @apply mc-text-blueberry-800;
  }

  .mc-text-color-information-hover {
    @apply mc-text-blueberry-900;
  }

  .mc-text-color-information-pressed {
    @apply mc-text-blueberry-950;
  }

  .mc-text-color-danger-base {
    @apply mc-text-tomato-700;
  }

  .mc-text-color-danger-hover {
    @apply mc-text-tomato-800;
  }

  .mc-text-color-danger-pressed {
    @apply mc-text-tomato-900;
  }

  .mc-text-color-pending-base {
    @apply mc-text-mango-800;
  }

  .mc-text-color-pending-hover {
    @apply mc-text-mango-900;
  }

  .mc-text-color-pending-pressed {
    @apply mc-text-mango-950;
  }

  .mc-text-color-caution-base {
    @apply mc-text-carrot-800;
  }

  .mc-text-color-caution-hover {
    @apply mc-text-carrot-900;
  }

  .mc-text-color-caution-pressed {
    @apply mc-text-carrot-950;
  }

  .mc-text-color-accent-base {
    @apply mc-text-wintermelon-700;
  }

  .mc-text-color-accent-hover {
    @apply mc-text-wintermelon-800;
  }

  .mc-text-color-accent-pressed {
    @apply mc-text-wintermelon-900;
  }

  .mc-text-color-specialty-token-dark {
    @apply mc-text-mushroom-950;
  }
  /* #endregion - Text Colors */

  /* #region - Background Colors */
  .mc-background-color {
    @apply mc-bg-white-50;
  }

  .mc-background-color-default {
    @apply mc-bg-mushroom-200;
  }

  .mc-background-color-surface {
    @apply mc-bg-mushroom-50;
  }
  .mc-background-color-surface-adaptive {
    @apply mc-bg-mushroom-950/[0.05];
  }

  .mc-background-color-base {
    @apply mc-bg-mushroom-100;
  }

  .mc-background-color-hover {
    @apply mc-bg-mushroom-950/[0.08];
  }

  .mc-background-color-pressed {
    @apply mc-bg-mushroom-950/[0.12];
  }

  .mc-background-color-disabled {
    @apply mc-bg-white-100;
  }

  .mc-background-color-inverted {
    @apply mc-bg-mushroom-950;
  }

  .mc-background-color-inverted-hover {
    @apply mc-bg-mushroom-900;
  }

  .mc-background-color-inverted-pressed {
    @apply mc-bg-mushroom-800;
  }

  .mc-background-color-single-active {
    @apply mc-bg-kangkong-100;
  }

  .mc-background-color-multiple-active {
    @apply mc-bg-kangkong-50;
  }

  /* BRAND COLORS */
  .mc-background-color-brand-base {
    @apply mc-bg-kangkong-700;
  }

  .mc-background-color-brand-hover {
    @apply mc-bg-kangkong-800;
  }

  .mc-background-color-brand-pressed {
    @apply mc-bg-kangkong-900;
  }

  .mc-background-color-brand-weak {
    @apply mc-bg-kangkong-100;
  }

  .mc-background-color-brand-weak-hover {
    @apply mc-bg-kangkong-200;
  }
  .mc-background-color-brand-weak-pressed {
    @apply mc-bg-kangkong-300;
  }

  .mc-background-color-success-base {
    @apply mc-bg-kangkong-600;
  }

  /* SUCCESS COLORS */
  .mc-background-color-success-hover {
    @apply mc-bg-kangkong-700;
  }

  .mc-background-color-success-pressed {
    @apply mc-bg-kangkong-800;
  }

  .mc-background-color-success-weak {
    @apply mc-bg-kangkong-100;
  }

  .mc-background-color-success-weak-hover {
    @apply mc-bg-kangkong-200;
  }
  .mc-background-color-success-weak-pressed {
    @apply mc-bg-kangkong-300;
  }

  /* INFORMATION COLORS */
  .mc-background-color-information-base {
    @apply mc-bg-blueberry-600;
  }

  .mc-background-color-information-hover {
    @apply mc-bg-blueberry-700;
  }

  .mc-background-color-information-pressed {
    @apply mc-bg-blueberry-800;
  }

  .mc-background-color-information-weak {
    @apply mc-bg-blueberry-100;
  }
  .mc-background-color-information-weak-hover {
    @apply mc-bg-blueberry-200;
  }
  .mc-background-color-information-weak-pressed {
    @apply mc-bg-blueberry-300;
  }

  /* PENDING COLORS */
  .mc-background-color-pending-base {
    @apply mc-bg-mango-500;
  }

  .mc-background-color-pending-hover {
    @apply mc-bg-mango-600;
  }

  .mc-background-color-pending-pressed {
    @apply mc-bg-mango-700;
  }

  .mc-background-color-pending-weak {
    @apply mc-bg-mango-100;
  }
  .mc-background-color-pending-weak-hover {
    @apply mc-bg-mango-200;
  }
  .mc-background-color-pending-weak-pressed {
    @apply mc-bg-mango-300;
  }

  /* CAUTION COLORS */
  .mc-background-color-caution-base {
    @apply mc-bg-carrot-500;
  }

  .mc-background-color-caution-hover {
    @apply mc-bg-carrot-600;
  }

  .mc-background-color-caution-pressed {
    @apply mc-bg-carrot-700;
  }

  .mc-background-color-caution-weak {
    @apply mc-bg-carrot-100;
  }
  .mc-background-color-caution-weak-hover {
    @apply mc-bg-carrot-200;
  }
  .mc-background-color-caution-weak-pressed {
    @apply mc-bg-carrot-300;
  }

  /* ACCENT COLORS */
  .mc-background-color-accent-base {
    @apply mc-bg-wintermelon-600;
  }

  .mc-background-color-accent-hover {
    @apply mc-bg-wintermelon-700;
  }

  .mc-background-color-accent-pressed {
    @apply mc-bg-wintermelon-800;
  }

  .mc-background-color-accent-weak {
    @apply mc-bg-wintermelon-100;
  }
  .mc-background-color-accent-weak-hover {
    @apply mc-bg-wintermelon-200;
  }
  .mc-background-color-accent-weak-pressed {
    @apply mc-bg-wintermelon-300;
  }

  /* DANGER COLORS */
  .mc-background-color-danger-base {
    @apply mc-bg-tomato-600;
  }

  .mc-background-color-danger-hover {
    @apply mc-bg-tomato-700;
  }

  .mc-background-color-danger-pressed {
    @apply mc-bg-tomato-800;
  }

  .mc-background-color-danger-weak {
    @apply mc-bg-tomato-100;
  }
  .mc-background-color-danger-weak-hover {
    @apply mc-bg-tomato-200;
  }
  .mc-background-color-danger-weak-pressed {
    @apply mc-bg-tomato-300;
  }

  .mc-switch-background-default {
    @apply mc-bg-mushroom-200;
  }

  .mc-switch-background-hover {
    @apply mc-bg-mushroom-300;
  }

  .mc-switch-background-pressed {
    @apply mc-bg-mushroom-400;
  }
  /* #endregion - Background Colors */

  /* #region - Border Colors */
  .mc-border-color-strong {
    @apply mc-border-mushroom-500;
  }

  .mc-border-color-supporting {
    @apply mc-border-mushroom-400;
  }

  .mc-border-color-base {
    @apply mc-border-mushroom-300;
  }

  .mc-border-color-hover {
    @apply mc-border-mushroom-400;
  }

  .mc-border-color-pressed {
    @apply mc-border-mushroom-500;
  }

  .mc-border-color-weak {
    @apply mc-border-mushroom-200;
  }

  .mc-border-color-disabled {
    @apply mc-border-white-100;
  }

  .mc-border-color-on-fill-disabled {
    @apply mc-border-white-200;
  }

  /* BRAND COLORS */
  .mc-border-color-brand-base {
    @apply mc-border-kangkong-700;
  }

  .mc-border-color-brand-hover {
    @apply mc-border-kangkong-800;
  }

  .mc-border-color-brand-pressed {
    @apply mc-border-kangkong-900;
  }

  /* SUCCESS COLORS */
  .mc-border-color-success-base {
    @apply mc-border-kangkong-700;
  }

  .mc-border-color-success-hover {
    @apply mc-border-kangkong-800;
  }

  .mc-border-color-success-pressed {
    @apply mc-border-kangkong-900;
  }

  /* INFORMATION COLORS */
  .mc-border-color-information-base {
    @apply mc-border-blueberry-800;
  }

  .mc-border-color-information-hover {
    @apply mc-border-blueberry-900;
  }

  .mc-border-color-information-pressed {
    @apply mc-border-blueberry-950;
  }

  /* DANGER COLORS */
  .mc-border-color-danger-base {
    @apply mc-border-tomato-700;
  }

  .mc-border-color-danger-hover {
    @apply mc-border-tomato-800;
  }

  .mc-border-color-danger-pressed {
    @apply mc-border-tomato-900;
  }

  /* PENDING COLORS */
  .mc-border-color-pending-base {
    @apply mc-border-mango-800;
  }

  .mc-border-color-pending-hover {
    @apply mc-border-mango-900;
  }

  .mc-border-color-pending-pressed {
    @apply mc-border-mango-950;
  }

  /* CAUTION COLORS */
  .mc-border-color-caution-base {
    @apply mc-border-carrot-800;
  }

  .mc-border-color-caution-hover {
    @apply mc-border-carrot-900;
  }

  .mc-border-color-caution-pressed {
    @apply mc-border-carrot-950;
  }

  /* ACCENT COLORS */
  .mc-border-color-accent-base {
    @apply mc-border-wintermelon-700;
  }

  .mc-border-color-accent-hover {
    @apply mc-border-wintermelon-800;
  }

  .mc-border-color-accent-pressed {
    @apply mc-border-wintermelon-900;
  }
  /* #endregion - Border Colors */

  /* #region - Box Shadows */
  .mc-drop-shadow-sm {
    @apply mc-shadow-drop-sm;
  }

  .mc-drop-shadow {
    @apply mc-shadow-drop;
  }

  .mc-drop-shadow-md {
    @apply mc-shadow-drop-md;
  }

  .mc-drop-shadow-top-sm {
    @apply mc-shadow-drop-top-sm;
  }

  .mc-drop-shadow-top {
    @apply mc-shadow-drop-top;
  }

  .mc-drop-shadow-top-md {
    @apply mc-shadow-drop-top-md;
  }
  /* #endregion - Box Shadows */

  /* #region - Divide Colors */
  .mc-divide-color-strong {
    @apply mc-divide-mushroom-500;
  }

  .mc-divide-color-supporting {
    @apply mc-divide-mushroom-400;
  }

  .mc-divide-color-base {
    @apply mc-divide-mushroom-300;
  }

  .mc-divide-color-hover {
    @apply mc-divide-mushroom-400;
  }

  .mc-divide-color-pressed {
    @apply mc-divide-mushroom-500;
  }

  .mc-divide-color-weak {
    @apply mc-divide-mushroom-200;
  }

  .mc-divide-color-disabled {
    @apply mc-divide-white-100;
  }

  .mc-divide-color-on-fill-disabled {
    @apply mc-divide-white-200;
  }

  .mc-divide-color-brand-base {
    @apply mc-divide-kangkong-700;
  }

  .mc-divide-color-brand-hover {
    @apply mc-divide-kangkong-800;
  }

  .mc-divide-color-brand-pressed {
    @apply mc-divide-kangkong-900;
  }

  .mc-divide-color-success-base {
    @apply mc-divide-kangkong-700;
  }

  .mc-divide-color-success-hover {
    @apply mc-divide-kangkong-800;
  }

  .mc-divide-color-success-pressed {
    @apply mc-divide-kangkong-900;
  }

  .mc-divide-color-information-base {
    @apply mc-divide-blueberry-700;
  }

  .mc-divide-color-information-hover {
    @apply mc-divide-blueberry-800;
  }

  .mc-divide-color-information-pressed {
    @apply mc-divide-blueberry-900;
  }

  .mc-divide-color-danger-base {
    @apply mc-divide-tomato-600;
  }

  .mc-divide-color-danger-hover {
    @apply mc-divide-tomato-700;
  }

  .mc-divide-color-danger-pressed {
    @apply mc-divide-tomato-800;
  }

  .mc-divide-color-pending-base {
    @apply mc-divide-mango-700;
  }

  .mc-divide-color-pending-hover {
    @apply mc-divide-mango-800;
  }

  .mc-divide-color-pending-pressed {
    @apply mc-divide-mango-900;
  }

  .mc-divide-color-caution-base {
    @apply mc-divide-carrot-700;
  }

  .mc-divide-color-caution-hover {
    @apply mc-divide-carrot-800;
  }

  .mc-divide-color-caution-pressed {
    @apply mc-divide-carrot-900;
  }

  .mc-divide-color-accent-base {
    @apply mc-divide-wintermelon-700;
  }

  .mc-divide-color-accent-hover {
    @apply mc-divide-wintermelon-800;
  }

  .mc-divide-color-accent-pressed {
    @apply mc-divide-wintermelon-900;
  }
  /* #endregion - Divide Colors */

  /* #region - skeletal animation */
  .mc-skeletal-loader {
    @apply mc-animate-pulse mc-border-neutral-200 mc-bg-[linear-gradient(270deg,var(--Light-Mushroom-50,#EFF1F1)_0%,var(--Light-Mushroom-200,#D9DEDE)_100%)];
  }
  /* #endregion - skeletal animation */
}
