@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import 'tailwindcss' prefix(mc);

@source '../../../src';
@source '../../../lib';
@source '../../../docs';

/* #region - Theme */
@theme {
  /* #region - Colors */

  /* White */
  --color-white-50: #ffffff;
  --color-white-100: #f1f2f3;
  --color-white-200: #dbdbdd;
  --color-white-300: #babcc0;
  --color-white-400: #989898;
  --color-white-500: #7c7c7c;
  --color-white-600: #656565;
  --color-white-700: #525252;
  --color-white-800: #464646;
  --color-white-900: #3d3d3d;
  --color-white-950: #292929;

  /* Mushroom */
  --color-mushroom-50: #eff1f1;
  --color-mushroom-100: #e6eaea;
  --color-mushroom-200: #d9dede;
  --color-mushroom-300: #b8c1c0;
  --color-mushroom-400: #919f9d;
  --color-mushroom-500: #738482;
  --color-mushroom-600: #5d6c6b;
  --color-mushroom-700: #4c5857;
  --color-mushroom-800: #414b4b;
  --color-mushroom-900: #394141;
  --color-mushroom-950: #262b2b;

  /* Tomato */
  --color-tomato-50: #fef2f3;
  --color-tomato-100: #fee2e3;
  --color-tomato-200: #fdcbce;
  --color-tomato-300: #fba6aa;
  --color-tomato-400: #f6737a;
  --color-tomato-500: #ec4750;
  --color-tomato-600: #da2f38;
  --color-tomato-700: #b61f27;
  --color-tomato-800: #971d23;
  --color-tomato-900: #7d1f24;
  --color-tomato-950: #440b0e;

  /* Carrot */
  --color-carrot-50: #fffaec;
  --color-carrot-100: #fff4d3;
  --color-carrot-200: #ffe5a5;
  --color-carrot-300: #ffd16d;
  --color-carrot-400: #ffb132;
  --color-carrot-500: #ff970a;
  --color-carrot-600: #ff7f00;
  --color-carrot-700: #cc5c02;
  --color-carrot-800: #a1470b;
  --color-carrot-900: #823c0c;
  --color-carrot-950: #461c04;

  /* Mango */
  --color-mango-50: #ffffea;
  --color-mango-100: #fffbc5;
  --color-mango-200: #fff885;
  --color-mango-300: #ffed46;
  --color-mango-400: #ffdf1b;
  --color-mango-500: #ffbf00;
  --color-mango-600: #e29300;
  --color-mango-700: #bb6802;
  --color-mango-800: #985008;
  --color-mango-900: #7c420b;
  --color-mango-950: #482200;

  /* Kangkong */
  --color-kangkong-50: #f0fdf4;
  --color-kangkong-100: #dcfce6;
  --color-kangkong-200: #bbf7ce;
  --color-kangkong-300: #86efa8;
  --color-kangkong-400: #4ade7b;
  --color-kangkong-500: #22c558;
  --color-kangkong-600: #17ad49;
  --color-kangkong-700: #158039;
  --color-kangkong-800: #166531;
  --color-kangkong-900: #14532b;
  --color-kangkong-950: #052e15;

  /* Wintermelon */
  --color-wintermelon-50: #ecfeff;
  --color-wintermelon-100: #cefbff;
  --color-wintermelon-200: #a3f3fe;
  --color-wintermelon-300: #64e9fc;
  --color-wintermelon-400: #1ed5f2;
  --color-wintermelon-500: #02afce;
  --color-wintermelon-600: #0592b5;
  --color-wintermelon-700: #0c7492;
  --color-wintermelon-800: #135e77;
  --color-wintermelon-900: #154e64;
  --color-wintermelon-950: #073345;

  /* Blueberry */
  --color-blueberry-50: #eef7ff;
  --color-blueberry-100: #d8ebff;
  --color-blueberry-200: #badcff;
  --color-blueberry-300: #8bbdff;
  --color-blueberry-400: #549eff;
  --color-blueberry-500: #2d88ff;
  --color-blueberry-600: #1679fa;
  --color-blueberry-700: #0f6eeb;
  --color-blueberry-800: #1356ba;
  --color-blueberry-900: #164b92;
  --color-blueberry-950: #122e59;

  /* Ubas */
  --color-ubas-50: #f5f3ff;
  --color-ubas-100: #eee9fe;
  --color-ubas-200: #ded6fe;
  --color-ubas-300: #c6b5fd;
  --color-ubas-400: #aa8bfa;
  --color-ubas-500: #8952f6;
  --color-ubas-600: #8139ee;
  --color-ubas-700: #7227da;
  --color-ubas-800: #5f21b6;
  --color-ubas-900: #501d95;
  --color-ubas-950: #311065;

  /* #endregion - Colors */

  /* #region - Spacing */
  --spacing-size-spacing-6xs: var(--size-50);
  --spacing-size-spacing-5xs: var(--size-100);
  --spacing-size-spacing-4xs: var(--size-150);
  --spacing-size-spacing-3xs: var(--size-200);
  --spacing-size-spacing-2xs: var(--size-250);
  --spacing-size-spacing-xs: var(--size-300);
  --spacing-size-spacing-sm: var(--size-400);
  --spacing-size-spacing-md: var(--size-500);
  --spacing-size-spacing-lg: var(--size-600);
  --spacing-size-spacing-xl: var(--size-700);
  --spacing-size-spacing-2xl: var(--size-800);
  --spacing-size-spacing-3xl: var(--size-900);
  --spacing-size-spacing-4xl: var(--size-1000);
  --spacing-size-spacing-5xl: var(--size-1100);
  --spacing-size-spacing-6xl: var(--size-1200);
  /* #endregion - Spacing */

  /* #region - Max Width */
  --max-width-sm: 640px;
  --max-width-md: 1000px;
  --max-width-lg: 1320px;
  /* #endregion - Max Width */

  /* #region - Border Radius */
  --radius-border-radius-2xs: var(--size-50);
  --radius-border-radius-xs: var(--size-100);
  --radius-border-radius-sm: var(--size-150);
  --radius-border-radius-md: var(--size-200);
  --radius-border-radius-lg: var(--size-250);
  --radius-border-radius-xl: var(--size-300);
  --radius-border-radius-full: 999px;
  /* #endregion - Border Radius */

  /* #region - Fonts */
  --font-main: 'Rubik', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
  --font-mono: 'Roboto Mono', monospace;
  /* #endregion - Fonts */
}
/* #endregion - Theme */

/* #region - Root */
:root {
  /* #region - Size Scale */
  --size-50: 2px;
  --size-100: 4px;
  --size-150: 6px;
  --size-200: 8px;
  --size-250: 12px;
  --size-300: 16px;
  --size-400: 24px;
  --size-500: 32px;
  --size-600: 40px;
  --size-700: 48px;
  --size-800: 64px;
  --size-900: 72px;
  --size-1000: 80px;
  --size-1100: 96px;
  --size-1200: 128px;
  /* #endregion - Size Scale */

  /* #region - White */
  --mc-white-50: #ffffff;
  --mc-white-100: #f1f2f3;
  --mc-white-200: #dbdbdd;
  --mc-white-300: #babcc0;
  --mc-white-400: #989898;
  --mc-white-500: #7c7c7c;
  --mc-white-600: #656565;
  --mc-white-700: #525252;
  --mc-white-800: #464646;
  --mc-white-900: #3d3d3d;
  --mc-white-950: #292929;
  /* #endregion - White */

  /* #region - Mushroom */
  --mc-mushroom-50: #eff1f1;
  --mc-mushroom-100: #e6eaea;
  --mc-mushroom-200: #d9dede;
  --mc-mushroom-300: #b8c1c0;
  --mc-mushroom-400: #919f9d;
  --mc-mushroom-500: #738482;
  --mc-mushroom-600: #5d6c6b;
  --mc-mushroom-700: #4c5857;
  --mc-mushroom-800: #414b4b;
  --mc-mushroom-900: #394141;
  --mc-mushroom-950: #262b2b;
  --mc-mushroom-950-rgb: 38, 43, 43;
  /* #endregion - Mushroom */

  /* #region - Tomato */
  --mc-tomato-50: #fef2f3;
  --mc-tomato-100: #fee2e3;
  --mc-tomato-200: #fdcbce;
  --mc-tomato-300: #fba6aa;
  --mc-tomato-400: #f6737a;
  --mc-tomato-500: #ec4750;
  --mc-tomato-600: #da2f38;
  --mc-tomato-700: #b61f27;
  --mc-tomato-800: #971d23;
  --mc-tomato-900: #7d1f24;
  --mc-tomato-950: #440b0e;
  /* #endregion - Tomato */

  /* #region - Carrot */
  --mc-carrot-50: #fffaec;
  --mc-carrot-100: #fff4d3;
  --mc-carrot-200: #ffe5a5;
  --mc-carrot-300: #ffd16d;
  --mc-carrot-400: #ffb132;
  --mc-carrot-500: #ff970a;
  --mc-carrot-600: #ff7f00;
  --mc-carrot-700: #cc5c02;
  --mc-carrot-800: #a1470b;
  --mc-carrot-900: #823c0c;
  --mc-carrot-950: #461c04;
  /* #endregion - Carrot */

  /* #region - Mango */
  --mc-mango-50: #ffffea;
  --mc-mango-100: #fffbc5;
  --mc-mango-200: #fff885;
  --mc-mango-300: #ffed46;
  --mc-mango-400: #ffdf1b;
  --mc-mango-500: #ffbf00;
  --mc-mango-600: #e29300;
  --mc-mango-700: #bb6802;
  --mc-mango-800: #985008;
  --mc-mango-900: #7c420b;
  --mc-mango-950: #482200;
  /* #endregion - Mango */

  /* #region - Kangkong */
  --mc-kangkong-50: #f0fdf4;
  --mc-kangkong-100: #dcfce6;
  --mc-kangkong-200: #bbf7ce;
  --mc-kangkong-300: #86efa8;
  --mc-kangkong-400: #4ade7b;
  --mc-kangkong-500: #22c558;
  --mc-kangkong-600: #17ad49;
  --mc-kangkong-700: #158039;
  --mc-kangkong-800: #166531;
  --mc-kangkong-900: #14532b;
  --mc-kangkong-950: #052e15;
  /* #endregion - Kangkong */

  /* #region - Wintermelon */
  --mc-wintermelon-50: #ecfeff;
  --mc-wintermelon-100: #cefbff;
  --mc-wintermelon-200: #a3f3fe;
  --mc-wintermelon-300: #64e9fc;
  --mc-wintermelon-400: #1ed5f2;
  --mc-wintermelon-500: #02afce;
  --mc-wintermelon-600: #0592b5;
  --mc-wintermelon-700: #0c7492;
  --mc-wintermelon-800: #135e77;
  --mc-wintermelon-900: #154e64;
  --mc-wintermelon-950: #073345;
  /* #endregion - Wintermelon */

  /* #region - Blueberry */
  --mc-blueberry-50: #eef7ff;
  --mc-blueberry-100: #d8ebff;
  --mc-blueberry-200: #badcff;
  --mc-blueberry-300: #8bbdff;
  --mc-blueberry-400: #549eff;
  --mc-blueberry-500: #2d88ff;
  --mc-blueberry-600: #1679fa;
  --mc-blueberry-700: #0f6eeb;
  --mc-blueberry-800: #1356ba;
  --mc-blueberry-900: #164b92;
  --mc-blueberry-950: #122e59;
  /* #endregion - Blueberry */

  /* #region - Ubas */
  --mc-ubas-50: #f5f3ff;
  --mc-ubas-100: #eee9fe;
  --mc-ubas-200: #ded6fe;
  --mc-ubas-300: #c6b5fd;
  --mc-ubas-400: #aa8bfa;
  --mc-ubas-500: #8952f6;
  --mc-ubas-600: #8139ee;
  --mc-ubas-700: #7227da;
  --mc-ubas-800: #5f21b6;
  --mc-ubas-900: #501d95;
  --mc-ubas-950: #311065;
  /* #endregion - Ubas */

  /* #region - Semantic Tokens */
  --mc-background-color: var(--mc-white-50);
  --mc-background-color-inverted: var(--mc-mushroom-950);
  --mc-border-color-base: var(--mc-mushroom-300);
  --mc-border-color-weak: var(--mc-mushroom-200);
  --mc-text-color-inverted-strong: var(--mc-white-50);
  /* #endregion - Semantic Tokens */
}
/* #endregion - Root */

/* #region - Scrollbars */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--mc-white-200);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--mc-white-300);
  border-radius: 9999px;
}

.mc-hidden-scrolls {
  &::-webkit-scrollbar {
    display: none;
  }
}
/* #endregion - Scrollbars */

/* #region - Headings */
.mc-heading-xl {
  font-family: 'Rubik', sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1px;
}

.mc-heading-lg {
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -1px;
}

.mc-heading-md {
  font-family: 'Rubik', sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -1px;
}

.mc-heading-sm {
  font-family: 'Rubik', sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.7px;
}

.mc-heading-xs {
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.7px;
}
/* #endregion - Headings */

/* #region - Subheadings */
.mc-subheading-sm {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.7px;
}

.mc-subheading-xs {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
}
/* #endregion - Subheadings */

/* #region - Body */
.mc-body-lg {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0px;
}

.mc-body-lg-regular {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
}

.mc-body-lg-regular-underline {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-decoration: underline;
}

.mc-body-lg-regular-medium {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
}

.mc-body-lg-medium-underline {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-decoration: underline;
}

.mc-body-md {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}

.mc-body-md-regular {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}

.mc-body-md-regular-underline {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: underline;
}

.mc-body-md-regular-medium {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
}

.mc-body-md-medium-underline {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: underline;
}

.mc-body-sm {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}

.mc-body-sm-regular {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}

.mc-body-sm-regular-underline {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-decoration: underline;
}

.mc-body-sm-regular-medium {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
}

.mc-body-sm-medium-underline {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-decoration: underline;
}

.mc-body-xs {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
}

.mc-body-xs-regular {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
}

.mc-body-xs-regular-underline {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-decoration: underline;
}

.mc-body-xs-regular-medium {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
}

.mc-body-xs-medium-underline {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-decoration: underline;
}
/* #endregion - Body */

/* #region - Labels */
.mc-label-xs {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.7px;
}

.mc-label-xs-regular {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.7px;
}

.mc-label-xs-medium {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.7px;
}

.mc-label-sm {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.7px;
}

.mc-label-sm-regular {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.7px;
}

.mc-label-sm-medium {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.7px;
}
/* #endregion - Labels */

/* #region - Font Size */
.mc-font-size-100 {
  font-size: 12px;
}

.mc-font-size-200 {
  font-size: 14px;
}

.mc-font-size-300 {
  font-size: 16px;
}

.mc-font-size-400 {
  font-size: 20px;
}

.mc-font-size-500 {
  font-size: 24px;
}

.mc-font-size-600 {
  font-size: 28px;
}

.mc-font-size-700 {
  font-size: 32px;
}

.mc-font-size-800 {
  font-size: 40px;
}

.mc-font-size-900 {
  font-size: 48px;
}

.mc-font-size-1000 {
  font-size: 56px;
}
/* #endregion - Font Size */

/* #region - Line Height */
.mc-line-height-none {
  line-height: 1;
}

.mc-line-height-100 {
  line-height: 12px;
}

.mc-line-height-200 {
  line-height: 14px;
}

.mc-line-height-300 {
  line-height: 16px;
}

.mc-line-height-400 {
  line-height: 20px;
}

.mc-line-height-500 {
  line-height: 24px;
}

.mc-line-height-600 {
  line-height: 32px;
}

.mc-line-height-700 {
  line-height: 36px;
}

.mc-line-height-800 {
  line-height: 40px;
}

.mc-line-height-900 {
  line-height: 48px;
}

.mc-line-height-1000 {
  line-height: 60px;
}
/* #endregion - Line Height */

/* #region - Letter Spacing */
.mc-letter-spacing-none {
  letter-spacing: 0px;
}

.mc-letter-spacing-densest {
  letter-spacing: -1.3px;
}

.mc-letter-spacing-denser {
  letter-spacing: -1px;
}

.mc-letter-spacing-dense {
  letter-spacing: -0.7px;
}

.mc-letter-spacing-normal {
  letter-spacing: 0px;
}

.mc-letter-spacing-wide {
  letter-spacing: 0.7px;
}

.mc-letter-spacing-wider {
  letter-spacing: 1px;
}

.mc-letter-spacing-widest {
  letter-spacing: 1.3px;
}
/* #endregion - Letter Spacing */

/* #region - Text Colors */
.mc-text-color-strong {
  color: var(--mc-mushroom-950);
}

.mc-text-color-supporting {
  color: var(--mc-mushroom-500);
}

.mc-text-color-base {
  color: var(--mc-mushroom-600);
}

.mc-text-color-weak {
  color: var(--mc-mushroom-400);
}

.mc-text-color-disabled {
  color: var(--mc-white-400);
}

.mc-text-color-on-fill-disabled {
  color: var(--mc-white-500);
}

.mc-text-color-inverted-strong {
  color: var(--mc-white-50);
}

.mc-text-color-inverted-base {
  color: var(--mc-mushroom-200);
}

.mc-text-color-inverted-weak {
  color: var(--mc-mushroom-400);
}

.mc-text-color-inverted-disabled {
  color: var(--mc-white-600);
}

.mc-text-color-brand-base {
  color: var(--mc-kangkong-700);
}

.mc-text-color-brand-hover {
  color: var(--mc-kangkong-800);
}

.mc-text-color-brand-pressed {
  color: var(--mc-kangkong-900);
}

.mc-text-color-success-base {
  color: var(--mc-kangkong-700);
}

.mc-text-color-success-hover {
  color: var(--mc-kangkong-800);
}

.mc-text-color-success-pressed {
  color: var(--mc-kangkong-900);
}

.mc-text-color-information-base {
  color: var(--mc-blueberry-800);
}

.mc-text-color-information-hover {
  color: var(--mc-blueberry-900);
}

.mc-text-color-information-pressed {
  color: var(--mc-blueberry-950);
}

.mc-text-color-danger-base {
  color: var(--mc-tomato-700);
}

.mc-text-color-danger-hover {
  color: var(--mc-tomato-800);
}

.mc-text-color-danger-pressed {
  color: var(--mc-tomato-900);
}

.mc-text-color-pending-base {
  color: var(--mc-mango-800);
}

.mc-text-color-pending-hover {
  color: var(--mc-mango-900);
}

.mc-text-color-pending-pressed {
  color: var(--mc-mango-950);
}

.mc-text-color-caution-base {
  color: var(--mc-carrot-800);
}

.mc-text-color-caution-hover {
  color: var(--mc-carrot-900);
}

.mc-text-color-caution-pressed {
  color: var(--mc-carrot-950);
}

.mc-text-color-accent-base {
  color: var(--mc-wintermelon-700);
}

.mc-text-color-accent-hover {
  color: var(--mc-wintermelon-800);
}

.mc-text-color-accent-pressed {
  color: var(--mc-wintermelon-900);
}

.mc-text-color-specialty-token-dark {
  color: var(--mc-mushroom-950);
}
/* #endregion - Text Colors */

/* #region - Background Colors */
.mc-background-color {
  background-color: var(--mc-white-50);
}

.mc-background-color-default {
  background-color: var(--mc-mushroom-200);
}

.mc-background-color-surface {
  background-color: var(--mc-mushroom-50);
}

.mc-background-color-surface-adaptive {
  background-color: rgba(var(--mc-mushroom-950-rgb), 0.05);
}

.mc-background-color-base {
  background-color: var(--mc-mushroom-100);
}

.mc-background-color-hover {
  background-color: rgba(var(--mc-mushroom-950-rgb), 0.08);
}

.mc-background-color-pressed {
  background-color: rgba(var(--mc-mushroom-950-rgb), 0.12);
}

.mc-background-color-disabled {
  background-color: var(--mc-white-100);
}

.mc-background-color-inverted {
  background-color: var(--mc-mushroom-950);
}

.mc-background-color-inverted-hover {
  background-color: var(--mc-mushroom-900);
}

.mc-background-color-inverted-pressed {
  background-color: var(--mc-mushroom-800);
}

.mc-background-color-single-active {
  background-color: var(--mc-kangkong-100);
}

.mc-background-color-multiple-active {
  background-color: var(--mc-kangkong-50);
}

.mc-background-color-brand-base {
  background-color: var(--mc-kangkong-700);
}

.mc-background-color-brand-hover {
  background-color: var(--mc-kangkong-800);
}

.mc-background-color-brand-pressed {
  background-color: var(--mc-kangkong-900);
}

.mc-background-color-brand-weak {
  background-color: var(--mc-kangkong-100);
}

.mc-background-color-brand-weak-hover {
  background-color: var(--mc-kangkong-200);
}

.mc-background-color-brand-weak-pressed {
  background-color: var(--mc-kangkong-300);
}

.mc-background-color-success-base {
  background-color: var(--mc-kangkong-600);
}

.mc-background-color-success-hover {
  background-color: var(--mc-kangkong-700);
}

.mc-background-color-success-pressed {
  background-color: var(--mc-kangkong-800);
}

.mc-background-color-success-weak {
  background-color: var(--mc-kangkong-100);
}

.mc-background-color-success-weak-hover {
  background-color: var(--mc-kangkong-200);
}

.mc-background-color-success-weak-pressed {
  background-color: var(--mc-kangkong-300);
}

.mc-background-color-information-base {
  background-color: var(--mc-blueberry-600);
}

.mc-background-color-information-hover {
  background-color: var(--mc-blueberry-700);
}

.mc-background-color-information-pressed {
  background-color: var(--mc-blueberry-800);
}

.mc-background-color-information-weak {
  background-color: var(--mc-blueberry-100);
}

.mc-background-color-information-weak-hover {
  background-color: var(--mc-blueberry-200);
}

.mc-background-color-information-weak-pressed {
  background-color: var(--mc-blueberry-300);
}

.mc-background-color-pending-base {
  background-color: var(--mc-mango-500);
}

.mc-background-color-pending-hover {
  background-color: var(--mc-mango-600);
}

.mc-background-color-pending-pressed {
  background-color: var(--mc-mango-700);
}

.mc-background-color-pending-weak {
  background-color: var(--mc-mango-100);
}

.mc-background-color-pending-weak-hover {
  background-color: var(--mc-mango-200);
}

.mc-background-color-pending-weak-pressed {
  background-color: var(--mc-mango-300);
}

.mc-background-color-caution-base {
  background-color: var(--mc-carrot-500);
}

.mc-background-color-caution-hover {
  background-color: var(--mc-carrot-600);
}

.mc-background-color-caution-pressed {
  background-color: var(--mc-carrot-700);
}

.mc-background-color-caution-weak {
  background-color: var(--mc-carrot-100);
}

.mc-background-color-caution-weak-hover {
  background-color: var(--mc-carrot-200);
}

.mc-background-color-caution-weak-pressed {
  background-color: var(--mc-carrot-300);
}

.mc-background-color-accent-base {
  background-color: var(--mc-wintermelon-600);
}

.mc-background-color-accent-hover {
  background-color: var(--mc-wintermelon-700);
}

.mc-background-color-accent-pressed {
  background-color: var(--mc-wintermelon-800);
}

.mc-background-color-accent-weak {
  background-color: var(--mc-wintermelon-100);
}

.mc-background-color-accent-weak-hover {
  background-color: var(--mc-wintermelon-200);
}

.mc-background-color-accent-weak-pressed {
  background-color: var(--mc-wintermelon-300);
}

.mc-background-color-danger-base {
  background-color: var(--mc-tomato-600);
}

.mc-background-color-danger-hover {
  background-color: var(--mc-tomato-700);
}

.mc-background-color-danger-pressed {
  background-color: var(--mc-tomato-800);
}

.mc-background-color-danger-weak {
  background-color: var(--mc-tomato-100);
}

.mc-background-color-danger-weak-hover {
  background-color: var(--mc-tomato-200);
}

.mc-background-color-danger-weak-pressed {
  background-color: var(--mc-tomato-300);
}

.mc-switch-background-default {
  background-color: var(--mc-mushroom-200);
}

.mc-switch-background-hover {
  background-color: var(--mc-mushroom-300);
}

.mc-switch-background-pressed {
  background-color: var(--mc-mushroom-400);
}
/* #endregion - Background Colors */

/* #region - Border Colors */
.mc-border-color-strong {
  border-color: var(--mc-mushroom-500);
}

.mc-border-color-supporting {
  border-color: var(--mc-mushroom-400);
}

.mc-border-color-base {
  border-color: var(--mc-mushroom-300);
}

.mc-border-color-hover {
  border-color: var(--mc-mushroom-400);
}

.mc-border-color-pressed {
  border-color: var(--mc-mushroom-500);
}

.mc-border-color-weak {
  border-color: var(--mc-mushroom-200);
}

.mc-border-color-disabled {
  border-color: var(--mc-white-100);
}

.mc-border-color-on-fill-disabled {
  border-color: var(--mc-white-200);
}

.mc-border-color-brand-base {
  border-color: var(--mc-kangkong-700);
}

.mc-border-color-brand-hover {
  border-color: var(--mc-kangkong-800);
}

.mc-border-color-brand-pressed {
  border-color: var(--mc-kangkong-900);
}

.mc-border-color-success-base {
  border-color: var(--mc-kangkong-700);
}

.mc-border-color-success-hover {
  border-color: var(--mc-kangkong-800);
}

.mc-border-color-success-pressed {
  border-color: var(--mc-kangkong-900);
}

.mc-border-color-information-base {
  border-color: var(--mc-blueberry-800);
}

.mc-border-color-information-hover {
  border-color: var(--mc-blueberry-900);
}

.mc-border-color-information-pressed {
  border-color: var(--mc-blueberry-950);
}

.mc-border-color-danger-base {
  border-color: var(--mc-tomato-700);
}

.mc-border-color-danger-hover {
  border-color: var(--mc-tomato-800);
}

.mc-border-color-danger-pressed {
  border-color: var(--mc-tomato-900);
}

.mc-border-color-pending-base {
  border-color: var(--mc-mango-800);
}

.mc-border-color-pending-hover {
  border-color: var(--mc-mango-900);
}

.mc-border-color-pending-pressed {
  border-color: var(--mc-mango-950);
}

.mc-border-color-caution-base {
  border-color: var(--mc-carrot-800);
}

.mc-border-color-caution-hover {
  border-color: var(--mc-carrot-900);
}

.mc-border-color-caution-pressed {
  border-color: var(--mc-carrot-950);
}

.mc-border-color-accent-base {
  border-color: var(--mc-wintermelon-700);
}

.mc-border-color-accent-hover {
  border-color: var(--mc-wintermelon-800);
}

.mc-border-color-accent-pressed {
  border-color: var(--mc-wintermelon-900);
}
/* #endregion - Border Colors */

/* #region - Box Shadows */
.mc-drop-shadow-xs {
  box-shadow: 0px 2px 4px -1px #262b2b1f;
}

.mc-drop-shadow {
  box-shadow: 0px 2px 8px -2px #262b2b33;
}

.mc-drop-shadow-md {
  box-shadow: 0px 4px 12px 0px #262b2b29;
}

.mc-drop-shadow-top-sm {
  box-shadow: 0px -2px 4px -1px #262b2b1f;
}

.mc-drop-shadow-top {
  box-shadow: 0px -2px 8px -2px #262b2b33;
}

.mc-drop-shadow-top-md {
  box-shadow: 0px -4px 12px 0px #262b2b29;
}
/* #endregion - Box Shadows */

/* #region - Divide Colors */
.mc-divide-color-strong {
  border-color: var(--mc-mushroom-500);
}

.mc-divide-color-supporting {
  border-color: var(--mc-mushroom-400);
}

.mc-divide-color-base {
  border-color: var(--mc-mushroom-300);
}

.mc-divide-color-hover {
  border-color: var(--mc-mushroom-400);
}

.mc-divide-color-pressed {
  border-color: var(--mc-mushroom-500);
}

.mc-divide-color-weak {
  border-color: var(--mc-mushroom-200);
}

.mc-divide-color-disabled {
  border-color: var(--mc-white-100);
}

.mc-divide-color-on-fill-disabled {
  border-color: var(--mc-white-200);
}

.mc-divide-color-brand-base {
  border-color: var(--mc-kangkong-700);
}

.mc-divide-color-brand-hover {
  border-color: var(--mc-kangkong-800);
}

.mc-divide-color-brand-pressed {
  border-color: var(--mc-kangkong-900);
}

.mc-divide-color-success-base {
  border-color: var(--mc-kangkong-700);
}

.mc-divide-color-success-hover {
  border-color: var(--mc-kangkong-800);
}

.mc-divide-color-success-pressed {
  border-color: var(--mc-kangkong-900);
}

.mc-divide-color-information-base {
  border-color: var(--mc-blueberry-700);
}

.mc-divide-color-information-hover {
  border-color: var(--mc-blueberry-800);
}

.mc-divide-color-information-pressed {
  border-color: var(--mc-blueberry-900);
}

.mc-divide-color-danger-base {
  border-color: var(--mc-tomato-600);
}

.mc-divide-color-danger-hover {
  border-color: var(--mc-tomato-700);
}

.mc-divide-color-danger-pressed {
  border-color: var(--mc-tomato-800);
}

.mc-divide-color-pending-base {
  border-color: var(--mc-mango-700);
}

.mc-divide-color-pending-hover {
  border-color: var(--mc-mango-800);
}

.mc-divide-color-pending-pressed {
  border-color: var(--mc-mango-900);
}

.mc-divide-color-caution-base {
  border-color: var(--mc-carrot-700);
}

.mc-divide-color-caution-hover {
  border-color: var(--mc-carrot-800);
}

.mc-divide-color-caution-pressed {
  border-color: var(--mc-carrot-900);
}

.mc-divide-color-accent-base {
  border-color: var(--mc-wintermelon-700);
}

.mc-divide-color-accent-hover {
  border-color: var(--mc-wintermelon-800);
}

.mc-divide-color-accent-pressed {
  border-color: var(--mc-wintermelon-900);
}
/* #endregion - Divide Colors */

/* 
  #region 
  ========================================================================
  ============================== Components ============================== 
  ========================================================================
*/

/* #region - Sidenav */
#quick-action-menu-wrapper {
  width: 400px;
  max-height: 500px;
}

#sidenav-menu-wrapper,
#sidenav-submenu-l1-wrapper {
  width: 215px;
  max-height: 500px;
}

#sidenav-submenu-l2-wrapper {
  display: none;
}

#user-menu-wrapper {
  top: -20px;
  width: 300px;
  max-height: 500px;
}

#quick-action-menu-wrapper,
#sidenav-menu-wrapper,
#sidenav-submenu-l1-wrapper,
#user-menu-wrapper,
#mobile-user-menu-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--mc-background-color);
  border-color: var(--mc-border-color-base);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 12px 0px rgba(38, 43, 43, 0.16);

  .v-popper__wrapper {
    .v-popper__inner {
      overflow: hidden;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow: none;

      .slide-fade-enter-active {
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
        transition-duration: 0.3s;
      }

      .slide-fade-leave-active {
        transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
      }

      .slide-fade-enter-from,
      .slide-fade-leave-to {
        opacity: 0;
        transform: translateX(-20px);
      }
    }

    .v-popper__arrow-container {
      display: none;
    }
  }
}
/* #endregion - Sidenav */

/* #region - Tooltips */
#tooltip-wrapper,
#tooltip-full-width-wrapper {
  .v-popper__wrapper {
    .v-popper__inner {
      padding-top: 0.375rem;
      padding-right: 0.5rem;
      padding-bottom: 0.375rem;
      padding-left: 0.5rem;
      font-family: 'Rubik', sans-serif;
      font-size: 0.75rem;
      line-height: 1rem;
      color: var(--mc-text-color-inverted-strong);
      word-break: break-word;
      background-color: var(--mc-background-color-inverted);
      border-radius: 0.375rem;
      box-shadow: 0px 4px 12px 0px rgba(38, 43, 43, 0.16);
      opacity: 1;
    }

    .v-popper__arrow-outer {
      display: none;
    }
  }
}

#tooltip-wrapper {
  .v-popper__wrapper {
    .v-popper__inner {
      max-width: 100%;
      box-shadow: 0px 4px 12px 0px rgba(38, 43, 43, 0.16);
    }
  }
}

#tooltip-full-width-wrapper {
  .v-popper__wrapper {
    .v-popper__inner {
      max-width: 280px;
      box-shadow: 0px 4px 12px 0px rgba(38, 43, 43, 0.16);
    }
  }
}
/* #endregion - Tooltips */

/* #region - Dropdown */
#dropdown-wrapper {
  z-index: 1000;
  width: inherit;
  overflow: hidden;
  border-color: var(--mc-border-color-weak);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 12px 0px rgba(38, 43, 43, 0.16);

  .v-popper__wrapper {
    .v-popper__inner {
      width: 100%;
      font-family: 'Rubik', sans-serif;
      border: none;
      border-radius: 0;
      box-shadow: none;

      &::-webkit-scrollbar-track {
        border-top-right-radius: 0.75rem;
        border-bottom-right-radius: 0.75rem;
      }
    }

    .v-popper__arrow-container {
      display: none;
    }
  }
}
/* #endregion - Dropdown */

/* #region - Select */
#select-wrapper,
#multi-select-wrapper,
#ladderized-select-wrapper {
  z-index: 1000;
  width: inherit;
  overflow: hidden;
  border-color: var(--mc-border-color-weak);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 12px 0px rgba(38, 43, 43, 0.16);

  .v-popper__wrapper {
    .v-popper__inner {
      width: 100%;
      font-family: 'Rubik', sans-serif;
      border: none;
      border-radius: 0;
      box-shadow: none;

      &::-webkit-scrollbar-track {
        border-top-right-radius: 0.75rem;
        border-bottom-right-radius: 0.75rem;
      }
    }

    .v-popper__arrow-container {
      display: none;
    }
  }
}
/* #endregion - Select */

/* #region - Avatar */
.avatar__slot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* #endregion - Avatar */

/* #region - Table */
.mc-table-wrapper {
  tbody {
    display: block;
    width: 100%;
    overflow-y: auto;
  }

  tr {
    display: table-row;
    width: 100%;
    table-layout: fixed;
  }

  thead {
    padding-right: 0.125rem;
  }

  tbody::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .empty-table-dropzone-dragged-class {
    display: none;
  }
}
/* #endregion - Table */

/* #region - Date Picker */
#date-picker-wrapper {
  z-index: 1000;
  overflow: hidden;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 12px 0px rgba(38, 43, 43, 0.16);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);

  .v-popper__wrapper {
    .v-popper__inner {
      width: 336px;
      min-width: 336px;
      margin: auto;
      overflow-y: auto;
      font-family: 'Rubik', sans-serif;
      border-color: var(--mc-border-color-weak);
      border-style: solid;
      border-width: 1px;
      border-radius: 0.75rem;
      box-shadow: none;
    }

    @media (min-width: 640px) {
      .v-popper__inner {
        width: calc(100% - 20px);
        min-width: 100%;
      }
    }

    .v-popper__inner::-webkit-scrollbar-track {
      border-top-right-radius: 0.75rem;
      border-bottom-right-radius: 0.75rem;
    }

    .v-popper__arrow-container {
      display: none;
    }
  }
}
/* #endregion - Date Picker */

/* #region - Date Range Picker */
#date-range-picker-wrapper {
  z-index: 1000;
  overflow: hidden;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 12px 0px rgba(38, 43, 43, 0.16);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);

  .v-popper__wrapper {
    .v-popper__inner {
      width: 336px;
      min-width: 336px;
      margin: auto;
      overflow-y: auto;
      font-family: 'Rubik', sans-serif;
      border-color: var(--mc-border-color-weak);
      border-style: solid;
      border-width: 1px;
      border-radius: 0.75rem;
      box-shadow: none;
    }

    @media (min-width: 640px) {
      .v-popper__inner {
        width: calc(100% - 20px);
        min-width: 100%;
      }
    }

    .v-popper__inner::-webkit-scrollbar-track {
      border-top-right-radius: 0.75rem;
      border-bottom-right-radius: 0.75rem;
    }

    .v-popper__arrow-container {
      display: none;
    }
  }
}
/* #endregion - Date Range Picker */

/* #region - Filter, Time Picker */
#time-picker-wrapper-full-width,
#time-picker-wrapper,
#filter-option-wrapper,
#filter-menu-wrapper {
  z-index: 50;
  overflow-x: hidden;
  background-color: var(--mc-background-color);
  border-color: var(--mc-border-color-weak);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;

  .v-popper__wrapper {
    .v-popper__inner {
      overflow: hidden;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow: none;

      .resize-observer {
        display: none;
      }
    }

    .v-popper__arrow-container {
      display: none;
    }
  }
}

#time-picker-wrapper {
  max-width: 240px;
}

#time-picker-wrapper-full-width,
#filter-option-wrapper {
  width: 100%;
}

#filter-menu-wrapper {
  min-width: 328px;
  box-shadow: 0px 4px 12px 0px rgba(38, 43, 43, 0.16);
}
/* #endregion - Filter, Time Picker */

/* #region - Popper */
#popper-wrapper {
  z-index: 1000;
  width: inherit;
  min-width: 240px;
  border-color: var(--mc-border-color-weak);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 12px 0px rgba(38, 43, 43, 0.16);

  .v-popper__wrapper {
    .v-popper__inner {
      width: 100%;
      font-family: 'Rubik', sans-serif;
      border: none;
      border-radius: 0.75rem;
      box-shadow: none;

      &::-webkit-scrollbar-track {
        border-top-right-radius: 0.75rem;
        border-bottom-right-radius: 0.75rem;
      }
    }

    .v-popper__arrow-container {
      display: none;
    }
  }
}
/* #endregion - Popper */

/* #region - Attribute Filter */
#attribute_filter_wrapper {
  z-index: 1000;
  width: inherit;
  overflow: hidden;

  .v-popper__wrapper {
    .v-popper__inner {
      width: 100%;
      font-family: 'Rubik', sans-serif;
      border-color: var(--mc-border-color-weak);
      border-style: solid;
      border-width: 1px;
      border-radius: 0.75rem;
      box-shadow: none;

      &::-webkit-scrollbar-track {
        border-top-right-radius: 0.75rem;
        border-bottom-right-radius: 0.75rem;
      }
    }

    .v-popper__arrow-container {
      display: none;
    }
  }
}
/* #endregion - Attribute Filter */

/* #region - Skeletal Loader */
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.mc-skeletal-loader {
  background: linear-gradient(270deg, var(--mc-mushroom-50) 0%, var(--mc-mushroom-200) 100%);
  border-color: var(--mc-mushroom-200);
  animation: pulse 1.5s ease-in-out infinite;
}
/* #endregion - Skeletal Loader */
/* 
  #endregion 
  ========================================================================
  ============================== Components ============================== 
  ========================================================================
*/
